* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
main {
  width: 50%;
  margin: 150px auto;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.input::placeholder{
    color: white;
}

.input:focus{
    outline: none;
}

.submitBtn{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #000;
    font-size: 24px;
    font-weight: 300;
}
